.main {
  padding: 155px calc(50% - 470px);
  position: relative;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__title {
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  max-width: 314px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
}

.main__best {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}

.main__here {
  color: #00aaef;
}

strong {
  font-weight: 500;
}

.main__text {
  min-height: 300px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.main__text1 {
  margin-bottom: 24px;
}

.main__text2 {
  margin-bottom: 24px;
}

.main__text3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 900px) {
  .info {
    margin: 0 10px;
  }

  .main__text {
    margin-left: 0;
  }
}
